
<div class="container-fluid">
    
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3">
            <h1>LOGIN</h1>
            <form action="/login" method="post" id="form-login">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" aria-describedby="username" placeholder="Digite senha" name="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary btn-block" form="form-login">LOGIN</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3">
            <h1>CADASTRO</h1>
            <form action="/cadastrar" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Username" required oninvalid="this.setCustomValidity('Campo obrigatório')" oninput="this.setCustomValidity('')">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" aria-describedby="username" placeholder="Digite uma senha" oninvalid="this.setCustomValidity('Campo obrigatório')" oninput="this.setCustomValidity('')">
                </div>
                <div class="form-group">
                    <label for="password2">Re-Enter Password</label>
                    <input type="password" class="form-control" id="password" aria-describedby="password" placeholder="Confirme sua senha" oninvalid="this.setCustomValidity('Campo obrigatório')" oninput="this.setCustomValidity('')">
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Centros</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option value="" selected disabled hidden> Listar centros...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-outline-primary btn-block">CADASTRAR</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>

</div>
