<div class="container-fluid">
    <div class="row justify-content-center">
        <form action="/sendReset" method="post" id="form-reset">
                <div class="form-group">
                	<p>Para redefinir sua senha insira o email cadastrado e um link será enviado</p>
                    <label for="username">Email</label>
                    <input type="text" class="form-control" id="email" aria-describedby="email" placeholder="ex: recuperar@senha.com" name="email">
                </div>
                <button type="submit" class="btn btn-primary" id="btnRecover" form="form-reset">ENVIAR</button>
        </form>
    </div>
</div>