<script>
    setTimeout(function(){window.location.href="/";}, 5000);
</script>

<div class="container-fluid">
    <div class="row justify-content-center">
        <h2 class="display-2 mb-5">Ensalamento solicitado com sucesso!!</h2>
    
        <a href="/" class="">A página será redirecionada em 5 segundos, caso não acontece clique no botão abaixo</a>
    </div>
    
</div>