html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    margin:0;
    padding:0;
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #f6f8fa !important;
    
}

form{
    margin-bottom: 3%;
}

h1, h2, h3, h4, label{
    color: #0366d6 !important;
}
.centros{
    color: #0366d6 !important;
}
.container-fluid{
  display: table-cell;
  vertical-align: middle;
}

.container{
    padding: 3% 0 3% 0;
    height: 100% !important;
}



#btnLogin, #btnCadastro {
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    color: #fff;
    outline:none;
    cursor: pointer;
    z-index: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

#btnLogin:hover,
#btnLogin:active,
#btnCadastro:hover,
#btnCadastro:active{
    color: #0069d9;
    font-weight: 600;
    border: 1px solid #0069d9;
    box-shadow: inset 500px 0 0 0 #fff;
}

.card-header{
    background: #e9ecef !important;
}

p, .myColorHeader{
    color: #586069 !important;
}

.btn-link{
    text-decoration: none !important;
}

.card-body{
    background: #f6f8fa !important;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #BFC2C4; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(167, 170, 172); 
}

#titulo{
    align-items: center !important;
}
td, th, tr{
    text-align: center;
}

.table-responsive{
    height: 450px;
}